In [1]:
import pandas as pd
from types import GeneratorType
#Nested cross validation
from cv import NestedCV
from darts import TimeSeries
from darts.models import RNNModel,NBEATSModel,XGBModel
from darts.dataprocessing.transformers import Scaler
from darts.metrics import mape
from prophet import Prophet
import numpy as np
from datetime import datetime, timedelta

# Objectives
<h3>
1)Test cases to check the implementation of NestedCV <br/>
2)Build a timeseries model and use the cross validation technique for model evaluation
</h3>

In [2]:
# Creating sample dataset for testing NestedCV
start_date = datetime(2022, 1, 1)
end_date = datetime(2022, 3, 31)
date_range = pd.date_range(start_date, end_date, freq='D')

data = {
    'date': np.repeat(date_range, 3),  # Repeat each date three times for three groups
    'group_column': np.tile(['Group1', 'Group2', 'Group3'], len(date_range)),
    'value': np.random.randn(len(date_range) * 3)
}
data = pd.DataFrame(data)
data["date"] = pd.to_datetime(data["date"])

# nested cv
k = 5
cv = NestedCV(k)
splits = cv.split(data, "date")

# check return type
assert isinstance(splits, GeneratorType)

# check return types, shapes, and data leaks
count = 0
for train, validate in splits:
    
    # types
    assert isinstance(train, pd.DataFrame)
    assert isinstance(validate, pd.DataFrame)

    # shape
    assert train.shape[1] == validate.shape[1]

    # data leak
    assert train["date"].max() <= validate["date"].min()

    count += 1

# check number of splits returned
assert count == k

In [3]:
#Visualizing the train and validation sets of above dataset for each fold
fold=1
cv = NestedCV(k)
splits = cv.split(data, "date")
for train, validate in splits:
    print(f"---------Fold {fold}-----------")
    print("Train")
    print(train)
    print("Validate")
    print(validate)
    fold=fold+1

---------Fold 1-----------
Train
         date group_column     value
0  2022-01-01       Group1 -0.446453
1  2022-01-01       Group2 -0.589737
2  2022-01-01       Group3 -0.857503
3  2022-01-02       Group1  0.382831
4  2022-01-02       Group2 -0.978178
5  2022-01-02       Group3 -0.611634
6  2022-01-03       Group1 -0.363782
7  2022-01-03       Group2 -0.351690
8  2022-01-03       Group3  1.167147
9  2022-01-04       Group1  2.218697
10 2022-01-04       Group2  0.469655
11 2022-01-04       Group3 -0.646692
12 2022-01-05       Group1 -0.499362
13 2022-01-05       Group2 -0.309289
14 2022-01-05       Group3 -0.099819
15 2022-01-06       Group1  0.317343
16 2022-01-06       Group2 -0.821913
17 2022-01-06       Group3 -0.027728
18 2022-01-07       Group1  0.087734
19 2022-01-07       Group2  0.664127
20 2022-01-07       Group3  0.175308
21 2022-01-08       Group1 -0.289988
22 2022-01-08       Group2 -0.107586
23 2022-01-08       Group3  0.406700
24 2022-01-09       Group1 -0.645324
25 2022-01-09       Group2 -0.114373
26 2022-01-09       Group3  0.997187
27 2022-01-10       Group1  1.328417
28 2022-01-10       Group2 -0.083940
29 2022-01-10       Group3 -0.859918
30 2022-01-11       Group1  0.219145
31 2022-01-11       Group2  0.554126
32 2022-01-11       Group3 -0.398700
33 2022-01-12       Group1  0.926615
34 2022-01-12       Group2  1.530668
35 2022-01-12       Group3  0.352644
36 2022-01-13       Group1 -0.919491
37 2022-01-13       Group2  0.168586
38 2022-01-13       Group3  0.724720
39 2022-01-14       Group1  0.491870
40 2022-01-14       Group2 -0.330436
41 2022-01-14       Group3  1.933642
42 2022-01-15       Group1  1.288237
43 2022-01-15       Group2 -0.745238
44 2022-01-15       Group3 -2.021603
Validate
         date group_column     value
45 2022-01-16       Group1 -0.246781
46 2022-01-16       Group2 -0.069972
47 2022-01-16       Group3 -2.131481
48 2022-01-17       Group1  0.229800
49 2022-01-17       Group2 -1.850326
50 2022-01-17       Group3  1.625826
51 2022-01-18       Group1  0.381972
52 2022-01-18       Group2 -1.194524
53 2022-01-18       Group3 -0.416812
54 2022-01-19       Group1  1.213011
55 2022-01-19       Group2  0.605130
56 2022-01-19       Group3  0.141220
57 2022-01-20       Group1 -3.224102
58 2022-01-20       Group2  0.809793
59 2022-01-20       Group3 -0.394647
60 2022-01-21       Group1  0.009804
61 2022-01-21       Group2 -0.498026
62 2022-01-21       Group3 -0.448680
63 2022-01-22       Group1 -0.948210
64 2022-01-22       Group2 -2.025762
65 2022-01-22       Group3 -0.022154
66 2022-01-23       Group1  1.772094
67 2022-01-23       Group2 -1.404243
68 2022-01-23       Group3 -0.341338
69 2022-01-24       Group1 -1.174367
70 2022-01-24       Group2 -0.642334
71 2022-01-24       Group3  1.273570
72 2022-01-25       Group1 -1.962452
73 2022-01-25       Group2 -0.610429
74 2022-01-25       Group3  0.289856
75 2022-01-26       Group1  0.167437
76 2022-01-26       Group2  0.563432
77 2022-01-26       Group3 -0.168168
78 2022-01-27       Group1  0.096941
79 2022-01-27       Group2  0.479856
80 2022-01-27       Group3  0.404310
81 2022-01-28       Group1 -0.861633
82 2022-01-28       Group2  0.052791
83 2022-01-28       Group3  0.506727
84 2022-01-29       Group1 -0.748134
85 2022-01-29       Group2  0.727143
86 2022-01-29       Group3 -1.499739
87 2022-01-30       Group1 -0.092817
88 2022-01-30       Group2 -0.443262
89 2022-01-30       Group3 -1.118557
---------Fold 2-----------
Train
         date group_column     value
0  2022-01-01       Group1 -0.446453
1  2022-01-01       Group2 -0.589737
2  2022-01-01       Group3 -0.857503
3  2022-01-02       Group1  0.382831
4  2022-01-02       Group2 -0.978178
..        ...          ...       ...
85 2022-01-29       Group2  0.727143
86 2022-01-29       Group3 -1.499739
87 2022-01-30       Group1 -0.092817
88 2022-01-30       Group2 -0.443262
89 2022-01-30       Group3 -1.118557

[90 rows x 3 columns]
Validate
          date group_column     value
90  2022-01-31       Group1  0.352672
91  2022-01-31       Group2 -0.193331
92  2022-01-31       Group3 -2.945644
93  2022-02-01       Group1  1.929425
94  2022-02-01       Group2  1.195436
95  2022-02-01       Group3  0.524220
96  2022-02-02       Group1  0.469285
97  2022-02-02       Group2  0.081958
98  2022-02-02       Group3  1.615706
99  2022-02-03       Group1 -0.731962
100 2022-02-03       Group2  0.702508
101 2022-02-03       Group3  0.886861
102 2022-02-04       Group1  0.606318
103 2022-02-04       Group2  1.394230
104 2022-02-04       Group3  0.398571
105 2022-02-05       Group1 -1.930456
106 2022-02-05       Group2  0.074549
107 2022-02-05       Group3  0.633867
108 2022-02-06       Group1  0.238201
109 2022-02-06       Group2 -1.419137
110 2022-02-06       Group3  0.111982
111 2022-02-07       Group1 -0.035068
112 2022-02-07       Group2  0.092634
113 2022-02-07       Group3  0.345124
114 2022-02-08       Group1 -0.698864
115 2022-02-08       Group2 -1.096963
116 2022-02-08       Group3  0.073424
117 2022-02-09       Group1  0.749547
118 2022-02-09       Group2 -2.858397
119 2022-02-09       Group3  0.504809
120 2022-02-10       Group1  1.282246
121 2022-02-10       Group2 -0.375361
122 2022-02-10       Group3 -0.314758
123 2022-02-11       Group1 -1.127067
124 2022-02-11       Group2 -0.808978
125 2022-02-11       Group3  0.211053
126 2022-02-12       Group1 -0.272160
127 2022-02-12       Group2  1.101659
128 2022-02-12       Group3 -0.581612
129 2022-02-13       Group1 -0.478287
130 2022-02-13       Group2 -1.427845
131 2022-02-13       Group3  0.629917
132 2022-02-14       Group1  0.040977
133 2022-02-14       Group2  0.786986
134 2022-02-14       Group3  0.200004
---------Fold 3-----------
Train
          date group_column     value
0   2022-01-01       Group1 -0.446453
1   2022-01-01       Group2 -0.589737
2   2022-01-01       Group3 -0.857503
3   2022-01-02       Group1  0.382831
4   2022-01-02       Group2 -0.978178
..         ...          ...       ...
130 2022-02-13       Group2 -1.427845
131 2022-02-13       Group3  0.629917
132 2022-02-14       Group1  0.040977
133 2022-02-14       Group2  0.786986
134 2022-02-14       Group3  0.200004

[135 rows x 3 columns]
Validate
          date group_column     value
135 2022-02-15       Group1 -0.943342
136 2022-02-15       Group2 -0.534149
137 2022-02-15       Group3  0.614986
138 2022-02-16       Group1  0.140479
139 2022-02-16       Group2 -1.413144
140 2022-02-16       Group3 -0.770921
141 2022-02-17       Group1  0.553387
142 2022-02-17       Group2 -0.617485
143 2022-02-17       Group3  1.279602
144 2022-02-18       Group1 -0.914383
145 2022-02-18       Group2  0.622715
146 2022-02-18       Group3  0.816237
147 2022-02-19       Group1  0.413803
148 2022-02-19       Group2 -0.690494
149 2022-02-19       Group3  2.246668
150 2022-02-20       Group1  0.877567
151 2022-02-20       Group2 -0.028164
152 2022-02-20       Group3  0.358885
153 2022-02-21       Group1  0.477884
154 2022-02-21       Group2  0.901953
155 2022-02-21       Group3 -1.859173
156 2022-02-22       Group1  0.787498
157 2022-02-22       Group2 -0.204548
158 2022-02-22       Group3 -0.356481
159 2022-02-23       Group1 -0.711441
160 2022-02-23       Group2 -1.491408
161 2022-02-23       Group3 -0.540303
162 2022-02-24       Group1 -0.057583
163 2022-02-24       Group2 -0.467317
164 2022-02-24       Group3  0.707126
165 2022-02-25       Group1  0.391410
166 2022-02-25       Group2 -2.117816
167 2022-02-25       Group3  2.808396
168 2022-02-26       Group1  1.014281
169 2022-02-26       Group2  1.240482
170 2022-02-26       Group3 -0.022412
171 2022-02-27       Group1 -0.097958
172 2022-02-27       Group2 -0.113445
173 2022-02-27       Group3  0.816125
174 2022-02-28       Group1  0.436230
175 2022-02-28       Group2  0.552230
176 2022-02-28       Group3 -0.552377
177 2022-03-01       Group1  1.068181
178 2022-03-01       Group2  1.014431
179 2022-03-01       Group3  0.446459
---------Fold 4-----------
Train
          date group_column     value
0   2022-01-01       Group1 -0.446453
1   2022-01-01       Group2 -0.589737
2   2022-01-01       Group3 -0.857503
3   2022-01-02       Group1  0.382831
4   2022-01-02       Group2 -0.978178
..         ...          ...       ...
175 2022-02-28       Group2  0.552230
176 2022-02-28       Group3 -0.552377
177 2022-03-01       Group1  1.068181
178 2022-03-01       Group2  1.014431
179 2022-03-01       Group3  0.446459

[180 rows x 3 columns]
Validate
          date group_column     value
180 2022-03-02       Group1  0.965215
181 2022-03-02       Group2 -0.696658
182 2022-03-02       Group3 -2.034085
183 2022-03-03       Group1  0.086736
184 2022-03-03       Group2  2.549015
185 2022-03-03       Group3 -1.427208
186 2022-03-04       Group1 -0.145005
187 2022-03-04       Group2 -0.618264
188 2022-03-04       Group3  0.315851
189 2022-03-05       Group1  0.315988
190 2022-03-05       Group2 -0.698208
191 2022-03-05       Group3  0.321422
192 2022-03-06       Group1 -0.832482
193 2022-03-06       Group2  0.319641
194 2022-03-06       Group3  1.947984
195 2022-03-07       Group1  0.024412
196 2022-03-07       Group2 -0.072901
197 2022-03-07       Group3  1.168049
198 2022-03-08       Group1  0.935469
199 2022-03-08       Group2  1.273484
200 2022-03-08       Group3  1.543346
201 2022-03-09       Group1 -1.251477
202 2022-03-09       Group2  1.538818
203 2022-03-09       Group3  0.540024
204 2022-03-10       Group1  0.178331
205 2022-03-10       Group2 -0.111074
206 2022-03-10       Group3 -0.998876
207 2022-03-11       Group1 -0.911594
208 2022-03-11       Group2  0.689808
209 2022-03-11       Group3  0.458378
210 2022-03-12       Group1  0.190091
211 2022-03-12       Group2  1.553068
212 2022-03-12       Group3 -0.550894
213 2022-03-13       Group1  0.438325
214 2022-03-13       Group2  1.229405
215 2022-03-13       Group3 -0.279929
216 2022-03-14       Group1 -0.573118
217 2022-03-14       Group2  0.899069
218 2022-03-14       Group3 -1.925962
219 2022-03-15       Group1 -0.037998
220 2022-03-15       Group2 -0.056582
221 2022-03-15       Group3 -1.002482
222 2022-03-16       Group1  0.826875
223 2022-03-16       Group2 -0.937395
224 2022-03-16       Group3 -1.244710
---------Fold 5-----------
Train
          date group_column     value
0   2022-01-01       Group1 -0.446453
1   2022-01-01       Group2 -0.589737
2   2022-01-01       Group3 -0.857503
3   2022-01-02       Group1  0.382831
4   2022-01-02       Group2 -0.978178
..         ...          ...       ...
220 2022-03-15       Group2 -0.056582
221 2022-03-15       Group3 -1.002482
222 2022-03-16       Group1  0.826875
223 2022-03-16       Group2 -0.937395
224 2022-03-16       Group3 -1.244710

[225 rows x 3 columns]
Validate
          date group_column     value
225 2022-03-17       Group1  1.565178
226 2022-03-17       Group2 -0.302583
227 2022-03-17       Group3 -0.328883
228 2022-03-18       Group1  0.372193
229 2022-03-18       Group2  0.008324
230 2022-03-18       Group3  0.243331
231 2022-03-19       Group1 -0.691060
232 2022-03-19       Group2 -0.153111
233 2022-03-19       Group3 -0.138625
234 2022-03-20       Group1 -0.887788
235 2022-03-20       Group2  0.274228
236 2022-03-20       Group3 -1.545585
237 2022-03-21       Group1  0.850728
238 2022-03-21       Group2  1.273642
239 2022-03-21       Group3  0.221090
240 2022-03-22       Group1 -0.312064
241 2022-03-22       Group2  1.550647
242 2022-03-22       Group3  1.779705
243 2022-03-23       Group1  2.082042
244 2022-03-23       Group2  1.158448
245 2022-03-23       Group3 -0.611129
246 2022-03-24       Group1 -0.027010
247 2022-03-24       Group2 -0.079625
248 2022-03-24       Group3  0.453928
249 2022-03-25       Group1  0.933587
250 2022-03-25       Group2  0.528586
251 2022-03-25       Group3  1.070325
252 2022-03-26       Group1  0.063078
253 2022-03-26       Group2 -0.597930
254 2022-03-26       Group3  0.876839
255 2022-03-27       Group1 -0.549514
256 2022-03-27       Group2  0.535475
257 2022-03-27       Group3 -0.407426
258 2022-03-28       Group1 -1.185621
259 2022-03-28       Group2 -0.311541
260 2022-03-28       Group3 -0.678218
261 2022-03-29       Group1  0.672182
262 2022-03-29       Group2  0.710329
263 2022-03-29       Group3  2.201106
264 2022-03-30       Group1  0.613753
265 2022-03-30       Group2 -0.364689
266 2022-03-30       Group3 -0.357747
267 2022-03-31       Group1 -0.468571
268 2022-03-31       Group2  0.982470
269 2022-03-31       Group3 -0.468444

# We will be using the dataset provided in the assessment to construct basic time series models and validate our cross-validation logic.

In [4]:
data = pd.read_csv("train.csv")
data=data[~data["date"].isna()]

In [5]:
#this dataset contains monthly frequency.
pd.infer_freq(data['date'].unique())

'M'

<h2>We will be building a time series model to forecast demand for each brand</h2>

1)First, we will try simple machine learning models such as Facebook Prophet.  <br/>
2)Next, we will explore some deep learning models.

In [6]:
#Number of unique Brands
data["brand"].unique()

array(['kinder-cola', 'adult-cola', 'orange-power', 'gazoza',
       'lemon-boost'], dtype=object)

In [7]:
# Check the number of data points, maximum date, and minimum date for each brand
for b in data["brand"].unique():
    print(b)
    temp=data[data["brand"]==b]
    print(f"Data points {len(temp)}")
    print(f"Start Date: {temp['date'].min()}")
    print(f"End Date: {temp['date'].max()}")

kinder-cola
Data points 1296
Start Date: 28/02/13
End Date: 31/12/17
adult-cola
Data points 1296
Start Date: 28/02/13
End Date: 31/12/17
orange-power
Data points 1296
Start Date: 28/02/13
End Date: 31/12/17
gazoza
Data points 1296
Start Date: 28/02/13
End Date: 31/12/17
lemon-boost
Data points 1296
Start Date: 28/02/13
End Date: 31/12/17

In [8]:
#There are no missing values in the dataset
data=data[["date","brand","quantity"]]
data['date'] = pd.to_datetime(data['date'], format='%d/%m/%y')
data.set_index('date', inplace=True)
#Resample the data to monthly frequency on the basis of brand
resampled_data=data.groupby(['brand', pd.Grouper(freq='M')]).sum().reset_index()

In [9]:
resampled_data

            brand       date  quantity
0      adult-cola 2012-01-31  315852.0
1      adult-cola 2012-02-29  232201.0
2      adult-cola 2012-03-31  359081.0
3      adult-cola 2012-04-30  444008.0
4      adult-cola 2012-05-31  469280.0
..            ...        ...       ...
355  orange-power 2017-08-31  776399.0
356  orange-power 2017-09-30  646508.0
357  orange-power 2017-10-31  550004.0
358  orange-power 2017-11-30  434359.0
359  orange-power 2017-12-31  650151.0

[360 rows x 3 columns]

## Prophet

In [10]:
# Initialize Nested Cross-Validation with 5 folds
cv = NestedCV(5)
splits = cv.split(resampled_data, "date")
fold=1
final_result=pd.DataFrame({"Brand":[],"MAPE":[],"Fold":[]})

# Loop through each train-validation split in the cross-validation
for train, validate in splits:
    print(f"------ Fold {fold}--------")
    for brand, group in train.groupby('brand'): 
        temp=group[["date","quantity"]]
        temp.columns=["ds","y"]
        # Initialize and fit the Prophet model
        m=Prophet()
        m.fit(temp)
        # Prepare validation data for forecasting
        v_temp=validate[validate["brand"]==brand][["date","quantity"]]
        v_temp.columns=["ds","y"]
        # Generate forecast using the trained Prophet model
        forecast = m.predict(v_temp[["ds"]])
        # Merge actual and forecasted data
        result=pd.merge(v_temp, forecast[["ds","yhat"]], on='ds')
        # Calculate Absolute Percentage Error (APE) and Mean Absolute Percentage Error (MAPE)
        result['APE'] = np.abs((result['y'] - result['yhat']) / result['y']) * 100
        mape = np.mean(result['APE'])
        # print(f'MAPE of {brand}: {mape:.2f}%')
        final_result = pd.concat([final_result, pd.DataFrame([{"Brand": brand, "MAPE": mape, "Fold": fold}])], ignore_index=True)

    fold=fold+1

------ Fold 1--------

11:40:00 - cmdstanpy - INFO - Chain [1] start processing
11:40:00 - cmdstanpy - INFO - Chain [1] done processing
11:40:00 - cmdstanpy - INFO - Chain [1] start processing
11:40:00 - cmdstanpy - INFO - Chain [1] done processing
11:40:01 - cmdstanpy - INFO - Chain [1] start processing
11:40:01 - cmdstanpy - INFO - Chain [1] done processing
11:40:01 - cmdstanpy - INFO - Chain [1] start processing
11:40:01 - cmdstanpy - INFO - Chain [1] done processing
11:40:01 - cmdstanpy - INFO - Chain [1] start processing
11:40:01 - cmdstanpy - INFO - Chain [1] done processing
11:40:01 - cmdstanpy - INFO - Chain [1] start processing
11:40:01 - cmdstanpy - INFO - Chain [1] done processing
11:40:01 - cmdstanpy - INFO - Chain [1] start processing

------ Fold 2--------

11:40:01 - cmdstanpy - INFO - Chain [1] done processing
11:40:01 - cmdstanpy - INFO - Chain [1] start processing
11:40:01 - cmdstanpy - INFO - Chain [1] done processing
11:40:01 - cmdstanpy - INFO - Chain [1] start processing
11:40:01 - cmdstanpy - INFO - Chain [1] done processing
11:40:01 - cmdstanpy - INFO - Chain [1] start processing
11:40:01 - cmdstanpy - INFO - Chain [1] done processing
11:40:02 - cmdstanpy - INFO - Chain [1] start processing
11:40:02 - cmdstanpy - INFO - Chain [1] done processing

------ Fold 3--------

11:40:02 - cmdstanpy - INFO - Chain [1] start processing
11:40:02 - cmdstanpy - INFO - Chain [1] done processing
11:40:02 - cmdstanpy - INFO - Chain [1] start processing
11:40:02 - cmdstanpy - INFO - Chain [1] done processing
11:40:02 - cmdstanpy - INFO - Chain [1] start processing
11:40:02 - cmdstanpy - INFO - Chain [1] done processing
11:40:03 - cmdstanpy - INFO - Chain [1] start processing
11:40:03 - cmdstanpy - INFO - Chain [1] done processing
11:40:03 - cmdstanpy - INFO - Chain [1] start processing
11:40:03 - cmdstanpy - INFO - Chain [1] done processing

------ Fold 4--------

11:40:03 - cmdstanpy - INFO - Chain [1] start processing
11:40:03 - cmdstanpy - INFO - Chain [1] done processing
11:40:03 - cmdstanpy - INFO - Chain [1] start processing
11:40:04 - cmdstanpy - INFO - Chain [1] done processing
11:40:04 - cmdstanpy - INFO - Chain [1] start processing
11:40:04 - cmdstanpy - INFO - Chain [1] done processing
11:40:04 - cmdstanpy - INFO - Chain [1] start processing
11:40:04 - cmdstanpy - INFO - Chain [1] done processing
11:40:04 - cmdstanpy - INFO - Chain [1] start processing

------ Fold 5--------

11:40:04 - cmdstanpy - INFO - Chain [1] done processing
11:40:05 - cmdstanpy - INFO - Chain [1] start processing
11:40:05 - cmdstanpy - INFO - Chain [1] done processing
11:40:05 - cmdstanpy - INFO - Chain [1] start processing
11:40:05 - cmdstanpy - INFO - Chain [1] done processing
11:40:05 - cmdstanpy - INFO - Chain [1] start processing
11:40:05 - cmdstanpy - INFO - Chain [1] done processing
11:40:05 - cmdstanpy - INFO - Chain [1] start processing
11:40:05 - cmdstanpy - INFO - Chain [1] done processing

In [11]:
# Result of validation set on each fold
final_result.sort_values(by="Fold",ascending=False)

           Brand       MAPE  Fold
24  orange-power   5.804694   5.0
23   lemon-boost   6.218594   5.0
22   kinder-cola   5.252834   5.0
21        gazoza  10.742014   5.0
20    adult-cola   5.304644   5.0
19  orange-power   7.972170   4.0
18   lemon-boost   6.218352   4.0
17   kinder-cola   5.481717   4.0
16        gazoza  13.349993   4.0
15    adult-cola  11.457783   4.0
13   lemon-boost  11.343404   3.0
14  orange-power  10.647084   3.0
12   kinder-cola   9.933689   3.0
11        gazoza  11.911382   3.0
10    adult-cola   8.958909   3.0
9   orange-power  25.605094   2.0
8    lemon-boost  28.273691   2.0
7    kinder-cola  25.085382   2.0
6         gazoza  25.986615   2.0
5     adult-cola  31.680018   2.0
1         gazoza  49.675375   1.0
4   orange-power  33.550887   1.0
3    lemon-boost  27.776305   1.0
2    kinder-cola  25.655448   1.0
0     adult-cola  24.262567   1.0

## LSTM using darts

### Note on LSTM Model Performance and Nested CV

LSTM models typically require large training datasets for optimal performance. However, in our case, the use of nested cross-validation results in smaller training dataset sizes. As a consequence, the model performance may be affected negatively.

It's worth noting that for higher values of K (folds), LSTM may become impractical, as the minimum training data size required by LSTM is 25. Given our limited training data size, adjustments to the cross-validation strategy may be necessary to accommodate the specific requirements of LSTM models.

In [12]:
"""Given our limited training data size, increasing the number of folds beyond 1 in the cross-validation process
will further reduce the training dataset. This reduction may lead to an error with the LSTM model, as it requires a
minimum training data size (25)."""

#Reimporting the mape as the mape variable is used above
from darts.metrics import mape
cv = NestedCV(1)
splits = cv.split(resampled_data, "date")
for train, validate in splits:
    train_series_dict={}
    train.set_index("date",inplace=True)
    validate.set_index("date",inplace=True)
    for brand, group in train.groupby('brand'): 
        group['quantity'] = group['quantity'].fillna(method='ffill')
        ts= TimeSeries.from_dataframe(group[['quantity']], freq='M') 
        scaler_obj= Scaler() 
        ts=scaler_obj.fit_transform(ts)
        train_series_dict[brand]=ts
    all_series = list(train_series_dict.values())
    model = RNNModel(model='LSTM', input_chunk_length=4, output_chunk_length=1, n_epochs=5) 
    # model = NBEATSModel(input_chunk_length=3, output_chunk_length=1, n_epochs=5)
    # model = XGBModel(lags=10) 
    model.fit(all_series)
    for brand, group in validate.groupby('brand'):
        group['quantity'] = group['quantity'].fillna(method='ffill') 
        ts= TimeSeries.from_dataframe(group[['quantity']], freq='M') 
        forecast = model.predict(n=len(ts),series=train_series_dict[brand]) 
        # Evaluate performance using MAPE 
        forecast= scaler_obj.inverse_transform(forecast) 
        mape_value  = mape(ts, forecast)
        print(f"Mape of {brand} on validation set is : {mape_value}")

ignoring user defined `output_chunk_length`. RNNModel uses a fixed `output_chunk_length=1`.
GPU available: False, used: False
TPU available: False, using: 0 TPU cores
IPU available: False, using: 0 IPUs
HPU available: False, using: 0 HPUs

  | Name          | Type             | Params
---------------------------------------------------
0 | criterion     | MSELoss          | 0
1 | train_metrics | MetricCollection | 0
2 | val_metrics   | MetricCollection | 0
3 | rnn           | LSTM             | 2.8 K
4 | V             | Linear           | 26
---------------------------------------------------
2.8 K     Trainable params
0         Non-trainable params
2.8 K     Total params
0.011     Total estimated model params size (MB)

Training: |                                                                                      | 0/? [00:00<…

`Trainer.fit` stopped: `max_epochs=5` reached.
GPU available: False, used: False
TPU available: False, using: 0 TPU cores
IPU available: False, using: 0 IPUs
HPU available: False, using: 0 HPUs

Predicting: |                                                                                    | 0/? [00:00<…

GPU available: False, used: False
TPU available: False, using: 0 TPU cores
IPU available: False, using: 0 IPUs
HPU available: False, using: 0 HPUs

Mape of adult-cola on validation set is : 23.214739468744387

Predicting: |                                                                                    | 0/? [00:00<…

GPU available: False, used: False
TPU available: False, using: 0 TPU cores
IPU available: False, using: 0 IPUs
HPU available: False, using: 0 HPUs

Mape of gazoza on validation set is : 29.707903528194564

Predicting: |                                                                                    | 0/? [00:00<…

GPU available: False, used: False

Mape of kinder-cola on validation set is : 77.13795942010297

TPU available: False, using: 0 TPU cores
IPU available: False, using: 0 IPUs
HPU available: False, using: 0 HPUs

Predicting: |                                                                                    | 0/? [00:00<…

Mape of lemon-boost on validation set is : 30.557823120004702

GPU available: False, used: False
TPU available: False, using: 0 TPU cores
IPU available: False, using: 0 IPUs
HPU available: False, using: 0 HPUs

Predicting: |                                                                                    | 0/? [00:00<…

Mape of orange-power on validation set is : 23.66890264552309

# Conclusion

We achieved the highest accuracy with Prophet, as deep learning models demand a larger number of data points for reliable predictions. 
Additionally, we applied NestedCV to the examples above. Furthermore, there is an opportunity to fine-tune the Prophet model to enhance the accuracy of our predictions.